<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>secret</key>
	<string>u-s4t2ud-d800c91cbb36a2ebc8ab518f6e38cd498dd754513312a9ce565dac0cd3207d9c</string>
	<key>UID</key>
	<string>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</string>
</dict>
</plist>
